
<input type="file" class="file-input" accept="application/pdf"
       (change)="onFileSelected({event : $event})" #fileUpload>

<div class="file-upload">
  {{fileInfo || "Nog geen bestand geupload."}}
  <button class="upload-btn"
          (click)="fileUpload.click()"> Kies een bestand
  </button>



  <ngx-extended-pdf-viewer *ngIf="uploaded"
    [src]= fileSrc
    [useBrowserLocale] = "true"
    [showDownloadButton] = "false"
    [showRotateButton] = "false"
    [showPropertiesButton] = "false"
    [showTextEditor] = "false"
    [showToolbar] = "false">
  </ngx-extended-pdf-viewer>
</div>
