#Navbar{
  margin-left: 10px;
}

.MenuItems {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
  font-size: 20px;
}

li {
  padding: 5px;
  transition: 0.3s;
  opacity: 0.75;
  margin-bottom: 5px;
}

a li:hover {
  background-image: linear-gradient(to right, #54c0ff, #9354ff);
  border-radius: 5px;
  color: white;
  opacity: 1;
  scale: 104%;
}


.whitespace {
  padding: 250px;
}
