<div class="row">
  <div class="col-xs-12">
    <div id="NavBg">
      <nav id="NavMenu" class="navbar navbar-default ">
        <ul class="MenuItems">
          <div class="container-fluid">

            <br>

            <a><li>
              <i class="glyphicon glyphicon-home"></i>
              Home
            </li></a>

            <a><li>
              <i class="glyphicon glyphicon-list-alt"></i>
              CV's
            </li></a>

            <a><li>
              <i class="glyphicon glyphicon-user"></i>
              Mijn Account
            </li></a>
          </div>
        </ul>
      </nav>
    </div>
  </div>
</div>
