
<div id="largeWindow" class="hidden-xs hidden-sm">
  <div class="hamburger-btn">
    <i class="glyphicon glyphicon-menu-hamburger" onclick="changeNav('lgNavbar')"></i>
  </div>

  <div id="lgNavbar">
    <div class="row">
      <div class="hidden-sm col-md-12">
        <nav id="NavMenu" class="navbar">
          <ul class="MenuItems">
            <div class="container-fluid">

              <br>

              <a routerLink="/"><li>
                <i class="glyphicon glyphicon-home"></i>
                Home
              </li></a>

              <a routerLink="/CVPage"><li>
                <i class="glyphicon glyphicon-list-alt"></i>
                CV's
              </li></a>

              <a (click)="isLoggedIn()"><li>
                <i class="glyphicon glyphicon-user"></i>
                Mijn Account
              </li></a>

              <div class="whitespace">
              </div>

              <a routerLink="/Privacy"><li>
                <i class="glyphicon glyphicon-lock"></i>
                Privacy
              </li></a>

              <a routerLink="/Contact"><li>
                <i class="glyphicon glyphicon-earphone"></i>
                Contact
              </li></a>

              <a routerLink="/FAQ"><li>
                <i class="glyphicon glyphicon-question-sign"></i>
                FAQ
              </li></a>

              <br>
            </div>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>



<div class="hidden-md hidden-lg smallWindow">
  <div class="hamburger-btn">
    <i class="glyphicon glyphicon-menu-hamburger" onclick="changeNav('SmNavbar')"></i>
  </div>

  <div id="SmNavbar">
    <div class="row">
      <div class="col-md-12">
        <nav id="SmNavMenu" class="navbar navbar-default">
          <ul class="MenuItems" onclick="closeNav('SmNavbar')">
            <div class="container-fluid">

              <br>

              <a ><li>
                <i class="glyphicon glyphicon-remove"></i>
              </li></a>

              <a routerLink="/"><li>
                <i class="glyphicon glyphicon-home"></i>
                Home
              </li></a>

              <a routerLink="/CVPage"><li>
                <i class="glyphicon glyphicon-list-alt"></i>
                CV's
              </li></a>

              <a (click)="isLoggedIn()"><li>
                <i class="glyphicon glyphicon-user"></i>
                Mijn Account
              </li></a>

              <div class="whitespace">
              </div>

              <a routerLink="/Privacy"><li>
                <i class="glyphicon glyphicon-lock"></i>
                Privacy
              </li></a>

              <a routerLink="/Contact"><li>
                <i class="glyphicon glyphicon-earphone"></i>
                Contact
              </li></a>

              <a routerLink="/FAQ"><li>
                <i class="glyphicon glyphicon-question-sign"></i>
                FAQ
              </li></a>


            </div>
          </ul>
          <app-footer></app-footer>
        </nav>
      </div>
    </div>
  </div>
</div>
