
/*styling om cv element fixed te houden, is niet compatible met veel andere dingen dus wordt niet gebruikt*/
.fixedElement {
  width: 40em;
  top: 1em;
  right: 8.3em;
}

.scrollable {
  height: 44em;
  overflow-y: auto;

}

.CVHeight {
  height: 43em;
}

