<div class="container">
  <p>Zoek hier naar kandidaten!</p>
  <form class="form-horizontal">
    <div class="SearchBar col-sm-11">
      <div class="row input-group">
          <input #search type="text" formControlName="search" class="form-control input-lg"
               placeholder="Zoek hier per branche, beschrijving of provincie (bv. Groningen, ICT, Dierenarts, C#)">
          <span class="input-group-btn">
            <button routerLink="/CVPage" class="btn btn-primary btn-lg" (click)="OnClickSearch(search.value)">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
      </div>
    </div>
  </form>
</div>
