<!--<div class="row">
  <div class="col-xs-12">
    <h1>error works!</h1>
  </div>
</div>-->
<div class="container">

  <h1 class="text-center">Oops!</h1>

  <div class="row">
    <div class="col-xs-6">
      <h3 class="error-text-header">Deze pagina bestaat niet.</h3>
      <p class="error-text-center">
        De pagina die u opzoekt, bestaat niet.
      </p>
      <p class="error-text-center">
        Klik <a routerLink="/">hier</a> om naar de home pagina te gaan.
      </p>

    </div>

    <div class="col-xs-6">
      <img class="img-responsive" src="assets/ErrorImage.png">
    </div>
  </div>

</div>
