<div class="pdfViewer">
  <div *ngIf="showOptions" class="row">
    <div class="col-xs-6">
      <div class="btn-outline text-center">
        Verzoek Geheel CV
      </div>
    </div>

    <div class="col-xs-6">
      <div class="btn-outline text-center">
        <i class="glyphicon glyphicon-bookmark"></i> Bewaar CV
      </div>
    </div>
  </div>

  <br>

  <!--PDF Viewer Placeholder-->
  <ngx-extended-pdf-viewer
    [src]="'/assets/TestPDFFile.pdf'"
    [useBrowserLocale] = "true"
    [showDownloadButton] = "false"
    [showEditor] = "false"
    [showRotateButton] = "false"
    [showPropertiesButton] = "false"
    [showTextEditor] = "false"
    [showToolbar] = "false">

  </ngx-extended-pdf-viewer>
</div>
