<div class="pdfViewer">

  <div *ngIf="showOptions" class="row">
    <div *ngIf="isEmployer === true" class="col-xs-6">
      <button class="btn-outline btn-padding" routerLink="/SendMessage">
        Verzoek Geheel CV
      </button>
    </div>

    <div *ngIf="SavedPage == false && isBookmarked() == false" class="col-xs-6">
      <form #OfferForm="ngForm" (ngSubmit)="onPostBookmark(OfferForm.value)">
        <button type="submit" class="btn-outline btn-padding">
          <div >
            <i class="glyphicon glyphicon-bookmark"></i> Bewaar CV
          </div>
        </button>
      </form>
    </div>

    <div *ngIf="(SavedPage == false && isBookmarked() == true) || SavedPage ==true" class="col-xs-6">
      <form #OfferForm="ngForm" (ngSubmit)="UnbookmarkResume()">
        <button type="submit" class="btn-outline btn-padding">
          <div >
            <i class="glyphicon glyphicon-bookmark"></i>CV Niet meer opslaan
          </div>
        </button>
      </form>
    </div>
  </div>

  <br>

  <!--PDF Viewer Placeholder-->
  <div *ngIf="received" class="pdf-height">
    <ngx-extended-pdf-viewer
      [src]="fileSrc"
      [useBrowserLocale]="true"
      [showDownloadButton]="true"
      [showRotateButton]="false"
      [showPropertiesButton]="false"
      [showTextEditor]="false"
      [showToolbar]="true"
      [enablePrint]="false"
      [showDrawEditor]="false"
      [contentEditable]="false">
    </ngx-extended-pdf-viewer>
  </div>
</div>

