<div class="container">
  <div class="dashboard col-sm-6">
    <div class="text-center">
      <h3>Huidig aantal:</h3>
      <h1>{{getItemAmount()}}</h1>
    </div>
  </div>


  <div class="row">
    <div *ngIf="showPage() === 'offers'">
      <app-offer-admin-page></app-offer-admin-page>
    </div>
    <div *ngIf="showPage() === 'users'">
      <app-user-admin-page></app-user-admin-page>
    </div>
    <div *ngIf="showPage() === 'messages'">
      <app-message-admin-page></app-message-admin-page>
    </div>

  </div>
</div>
