.SignInBtn{
  float: right;
}

.btn-outline{
  border: 3px solid #54c0ff;
  color: #54c0ff;
  font-size: 16px;
  font-weight: 550;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

#seperator{
  /*background-image: linear-gradient(to right, red , yellow);*/
  background-color: black;
  height: 1px;
}
