<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <br>
      <a class="clickable-header-item" routerLink="/">
        <img class="img-responsive" src="assets/CVOnbekend-logo.jpeg" width="300" height="200">
      </a>
    </div>
    <div class="col-xs-3">


      <div *ngIf="loggedInUser == 0">
        <br>
        <button class="SignInBtn btn-outline left" routerLink="/Login">
          Inloggen / Registreren
        </button>
      </div>

      <div *ngIf="loggedInUser > 0">
        <div class="left">

         <h1>
           <a class="clickable-header-item" routerLink="/Account">
            Hello, {{loggedInUser.toString()}}!
          </a>
         </h1>

        </div>
      </div>

    </div>
  </div>

  <hr id="seperator">
</div>
