<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <br>
      <a class="clickable-header-item" routerLink="/">
        <img class="img-responsive" src="assets/CVOnbekend-logo.jpeg" width="300" height="200">
      </a>
    </div>
    <div class="col-xs-3">

      <!--<div *ngIf="loggedInUser == 0 ">-->
      <div *ngIf="!UserIsLoggedIn()">
        <br>
        <button class="SignInBtn btn-outline left" routerLink="/Login">
          Inloggen / Registreren
        </button>
      </div>

      <!--<div *ngIf="loggedInUser > 0">-->
      <div *ngIf="UserIsLoggedIn()">

        <br>

        <div class="left dropdown-bar">
          <a class="clickable-header-item" routerLink="/Account">
            <div class="container">
              <div class="row single-line">
                <img class="img-responsive img-rounded" height="50" width="50" src="{{getUserInfo()?.info?.picture}}">
                <h4 style="margin: 10px;">{{getUserInfo()?.info?.name }}</h4>
              </div>
            </div>
          </a>

          <ul class="dropdown-nav-bar">
            <li>
              <a routerLink="/google-login" (click)="logOut()">
                <span class="glyphicon glyphicon-log-out"></span>
                Uitloggen
              </a>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>

  <hr id="seperator">
</div>
