<div class="container">
  <h1 class="text-center">FAQ</h1>

  <ol>
      <li>
        <h2>Why is Deep Learning so amazing?</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non mattis massa, ut euismod urna. Ut eu ipsum vehicula, interdum lorem ac, semper dui. Nulla facilisi. Sed lectus odio, dictum ut tempor a, dictum sit amet nisl. Curabitur scelerisque ut mi et accumsan. Vivamus metus metus, rutrum id rhoncus non, commodo et arcu. Aliquam ac lacus at quam tincidunt ornare.
      </li>
      <li>
        <h2>How do I upload a resume?</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non mattis massa, ut euismod urna. Ut eu ipsum vehicula, interdum lorem ac, semper dui. Nulla facilisi. Sed lectus odio, dictum ut tempor a, dictum sit amet nisl. Curabitur scelerisque ut mi et accumsan. Vivamus metus metus, rutrum id rhoncus non, commodo et arcu. Aliquam ac lacus at quam tincidunt ornare.
      </li>
      <li>
        <h2>Why did Newton invent gravity?</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non mattis massa, ut euismod urna. Ut eu ipsum vehicula, interdum lorem ac, semper dui. Nulla facilisi. Sed lectus odio, dictum ut tempor a, dictum sit amet nisl. Curabitur scelerisque ut mi et accumsan. Vivamus metus metus, rutrum id rhoncus non, commodo et arcu. Aliquam ac lacus at quam tincidunt ornare.
      </li>
  </ol>
</div>
