<div class="form-login container">
  <h1 class="text-center">Login</h1>

    <br>

    <div class="col-md-6 col-centered">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="Username">Gebruikersnaam:</label>
          <input class="form-control" id="Username" type="text" placeholder="Gebruikersnaam">

          <br>

          <label for="Password">Wachtwoord</label>
          <input class="form-control" id="Password" type="password" placeholder="Wachtwoord">
          <br>

          <input id="rememberMe" type="checkbox">
          <label for="rememberMe">Remember me</label>

          <br>

          <a>Nog geen account? klik hier om te registreren.</a>

          <br>
          <br>

          <input type="button" class="col-centered btn btn-lg btn-primary" value="Login">

        </div>
      </form>
    </div>

</div>
