<div class="form-login container">
  <h1 class="text-center">Inloggen</h1>

    <br>

    <div class="col-md-6 col-centered">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="Email">Emailadres:</label>
          <input class="form-control" id="Email" type="text" placeholder="Emailadres">

          <br>

          <label for="Password">Wachtwoord</label>
          <input class="form-control" id="Password" type="password" placeholder="Wachtwoord">
          <br>

          <input id="rememberMe" type="checkbox">
          <label for="rememberMe"> Onthoud mij</label>

          <br>

          <a class="text-white" routerLink="/Register">
            Nog geen account? klik hier om te registreren.
          </a>

          <br>
          <br>

          <input type="button" class="col-centered btn btn-lg btn-primary" value="Login">

          <p class="text-center"><strong>Of registreer met:</strong></p>

          <app-social-login></app-social-login>

        </div>
      </form>
    </div>

</div>
