<div class="container">
  <h1 class="text-center">Mijn Account</h1>
    <div class="row">
      <!--Mijn account functionalities-->
      <div class="MyAccountButtons col-md-3 text-center">

        <button class="btn-outline" routerLink="/Inbox">
          <i class="glyphicon glyphicon-envelope"></i>
           Mijn Inbox
        </button>

        <label class="btn-outline">
          <input style="display: none" type="file" class="btn-outline"  accept=".pdf">
            <i class="glyphicon glyphicon-upload"></i> Upload CV
        </label>

        <button class="btn-outline">
          <i class="glyphicon glyphicon-eye-open"></i>
          Gehele CV weergeven
        </button>

        <button class="btn-outline">
          <i class="glyphicon glyphicon-bookmark"></i>
          Bewaarde CV's weergeven
        </button>

      </div>

    <div class="col-md-7 bg-info">
      <app-cv-user></app-cv-user>
    </div>

  </div>
</div>
