.Footer{
  bottom: 0;
  background-image: linear-gradient(to right, #546bff, #9354ff);
  margin-top: auto;
}

.LogoPlaceholder {
  color: white;
}

.FooterItems {
  display:table;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

li{
  float: left;
}

.FooterItems li a {
  color: white;
  font-size: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 20px;
}

