/* You can add global styles to this file, and also import other style files */
a{
  cursor: pointer;
}

/*Small Icons for login using social media*/
.Icon svg{
  width: 7.5%;
  height:7.5%;
  color: white;
  margin: 10px;
}

/*noinspection ALL*/
.WelcomeTitle, .title{
  font-family: Calibri;
  font-size: 30px;
}

/*Outline Button*/
.btn-outline{
  border: 3px solid #54c0ff;
  color: #54c0ff;
  font-size: 16px;
  font-weight: 550;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  transition: linear 0.2s;
}

.btn-outline-red{
  border: 3px solid #ff0000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 550;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ff0000;
  border-radius: 10px;
  padding: 10px;
  transition: linear 0.2s;
}

.btn-outline-red:hover{
  scale: 105%;
  background-color: #ff0000;
  color: white;
}

/*Hover over Outline Button*/
.btn-outline:hover{
  scale: 105%;
  background-color: #54c0ff;
  color: white;
}

.returnBtn {
  /*display:inline-block;*/
  margin: 10px;
  font-size: 20px;
  color: black;
}

.col-centered {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
