<!--Header-->
<app-header></app-header>


<div class="row">
  <div class="col-sm-12 col-md-2">
    <app-navbar></app-navbar>
  </div>

  <!--Search Bar-->
  <div class="col-md-9">
    <div class="container">
      <div class="col-xs-12">
        <h1 class="WelcomeTitle text-center"><strong>Welkom bij CVAnoniem!</strong></h1>
        <app-search></app-search>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-5">
          <app-cv-list></app-cv-list>
        </div>

        <div class="col-xs-12 col-lg-6">
          <app-cv-full></app-cv-full>
        </div>

      </div>
    </div>
  </div>
</div>

<!--Footer-->
<div class="footer">
  <app-footer></app-footer>
</div>
