<!--Header-->
<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="WelcomeTitle text-center"><strong>Welkom bij CVAnoniem!</strong></h1>
    </div>
  </div>
</div>



<!--Nav bar and Search Bar-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <app-navbar></app-navbar>
    </div>
    <div class="col-xs-12 col-md-9">
      <!--Test Blank lines-->
      <br>
      <br>
      <br>
      <br>
      <!--Test Blank lines-->
      <app-search></app-search>
    </div>
  </div>
</div>

<!--Placeholder Spacing-->
<div style="padding-bottom: 550px"></div>

<!--Footer-->
<div class="footer">
  <app-footer></app-footer>
</div>
