<!--Header-->
<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="WelcomeTitle text-center"><strong>Welkom bij CVAnoniem!</strong></h1>
    </div>
  </div>
</div>


<!--<app-login></app-login>-->

<!--Test Blank lines-->
<br>
<br>
<br>
<br>
<!--Test Blank lines-->

<app-search></app-search>

<!--Nav bar and Search Bar-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <app-navbar></app-navbar>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-5">
          <app-cv-list></app-cv-list>
        </div>

        <div class="col-xs-12 col-lg-4">
          <app-cv-full></app-cv-full>
        </div>
      </div>
    </div>
  </div>
</div>



<!--Footer-->
<div class="footer">
  <app-footer></app-footer>
</div>
