<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-xs-1">
        <a>
          <i class="returnBtn glyphicon glyphicon-chevron-left"
             onclick="history.back()">
          </i>
        </a>
      </div>
      <div class="col-xs-10">
        <h1 class="text-center">Mijn Inbox</h1>
      </div>
    </div>
  </div>

  <br>
    <div class="row">
      <app-msg-result *ngFor="let msg of Messages"
                      [Sender]="msg.EmployerID.toString()"
                      [Subject]="msg.Subject"
                      [message]="msg.message">
      </app-msg-result>
    </div>

</div>
