<div class="container">
  <div class="row">
    <a>
      <i class="returnBtn glyphicon glyphicon-chevron-left"
         onclick="history.back()">
      </i>
    </a>

    <h1 class="text-center">Mijn Inbox</h1>

  </div>

  <br>

  <div class="row">
    <div class="message">
      <p><strong>Verzender: </strong>Jan.degrote@mijndomein.nl</p>
      <p><strong>Onderwerp: </strong>Verzoek toegang tot gehele CV</p>
      <p><strong>Bericht: </strong> Hallo! Lorem ipsum dolor sit amet</p>
      <p><strong>Datum: </strong>01-04-2023</p>

    </div>
  </div>
</div>
