<configuration>
	<startup>
		<supportedRuntime version="4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		<add name="Connectionstring" connectionString="datasource=;port=;username=;password=;database=CVAnoniem"
             providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	

</configuration>