<!--<div class="col-xs-10 col-md-9">-->
<div *ngFor="let offer of offers">
  <div class="col-sm-9">
    <div class="list-item">
      <h3>
        <strong>
          Titel:
        </strong>
        {{offer.Title}}
      </h3>
      <h3>
        <strong>
          Branche:
        </strong>
        {{offer.WorkField}}
      </h3>
      <h3>
        <strong>
          Beschrijving:
        </strong>
        {{offer.Description}}
      </h3>
      <h3>
        <strong>
          Provincie:
        </strong>
        {{offer.Province}}
      </h3>
    </div>
  </div>
  <div class="col-sm-3">
    <button class="btn-lg btn-danger" (click)="delete(offer.OfferID)">
      <i class="glyphicon glyphicon-trash"></i>
    </button>
  </div>
</div>
<!--</div>-->
