<div class="form-login container">
  <h1 class="text-center">Registreren</h1>

  <br>

  <div class="col-md-6 col-centered">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="Email">Emailadres:</label>
        <input class="form-control" id="Email" type="email" placeholder="Emailadres">
        <br>

        <label for="Password">Wachtwoord</label>
        <input class="form-control" id="Password" type="password" placeholder="Wachtwoord">
        <br>

        <label for="PasswordRepeat">Wachtwoord Herhalen</label>
        <input class="form-control" id="PasswordRepeat" type="password" placeholder="Wachtwoord herhalen">
        <br>

        <label for="UserType">Type gebruiker: ik ben een </label>
        <select class="form-control" id="UserType">
          <option>Werkzoekende</option>
          <option>Werkgever</option>
        </select>

        <br>
        <br>

        <input type="button" class="col-centered btn btn-lg btn-primary" value="Registreren">

        <br>

        <p class="text-center"><strong>Of registreer met:</strong></p>

        <app-social-login></app-social-login>

        <br>

        <p class="text-center">Heb je al een account? Klik
          <a routerLink="/Login"><strong>Hier</strong></a>!
        </p>

      </div>
    </form>
  </div>

</div>
