<div class="form-login container">
  <h1 class="text-center">Registreren</h1>

  <br>

  <div class="col-md-6 col-centered">
    <form (ngSubmit)="RegisterUser(email.value,password.value,confirmpassword.value,tel.value)" class="form-horizontal">
      <div class="form-group">
        <label for="Email">Emailadres:</label>
        <input #email class="form-control" id="Email" type="email" placeholder="Emailadres">
        <br>

        <label for="Password">Wachtwoord</label>
        <input #password class="form-control" id="Password" type="password" placeholder="Wachtwoord">
        <br>

        <label for="PasswordRepeat">Wachtwoord Herhalen</label>
        <input (change)="confirmPassword(password.value, confirmpassword.value)" #confirmpassword class="form-control"
               id="PasswordRepeat" type="password" placeholder="Wachtwoord herhalen">
        <br>

        <p *ngIf="!passwordMatch" class="text-danger"> Wachtwoorden komen niet overeen!</p>

        <label for="Telephone">Telefoonnummer</label>
        <input #tel class="form-control" id="Telephone" placeholder="Telefoonnummer">
        <br>

        <label for="UserType">Type gebruiker: ik ben een </label>
        <select #opts class="form-control" id="UserType" (click)="onSelect(opts.value)">
          <option *ngFor="let o of options" [ngValue]="o.value">
            {{o.value}}. {{o.option}}
          </option>
        </select>

        <br>
        <br>

        <input (click)="RegisterUser(email.value,password.value,confirmpassword.value,tel.value)" type="button"
               class="col-centered btn btn-lg btn-primary" value="Registreren">

        <br>

        <p class="text-center"><strong>Of registreer met:</strong></p>

        <app-social-login></app-social-login>

        <br>

        <p class="text-center">Heb je al een account? Klik
          <a routerLink="/Login"><strong>Hier</strong></a>!
        </p>

      </div>
    </form>
  </div>

</div>
